.card__header {
    margin-block-start: 0;
    margin-block-end: 0;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-family: 'Roboto Slab';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
    text-align: left;
    width: 70%;

}
.saved_news__grid {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 16px 1fr 16px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 16px 1fr;
    grid-gap: 100px 16px;
    margin: auto;
    background: #F5F6F7;
    padding-bottom: 62px;
    padding-top: 62px;
    width: 90%;

}
.card__article {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;

}

.card__article_span {
    font-weight: 700;
}

.card__date {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #B6BCBF;
}

.savednews {
    width: 100%;
    margin: auto;
}

.savednews__box {
    width: 33%;
    margin-left: 5%;
    margin-bottom: 40px;
}

.saved_news__container {
    width: 100%;
    background: #F5F6F7;
}

@media screen and (max-width: 1420px) {
    .savednews__box {
        width: 65%;
    }
    .saved_news__grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 950px) {
    .saved_news__grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 610px) {

    .saved_news__grid {
        grid-template-columns: 1fr;
        padding-top: 24px;
        grid-gap: 10px;
        padding-bottom: 42px;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 560px) {
    .savednews__box {
        width: 88%;
    }
}
